@import "../helpers/mixins.scss";

.help-view {
    @include spacing-standard;
    overflow-y: scroll;

    .red {
        color: $red;
    }

    .yellow {
        color: $yellow;
    }

    .green {
        color: $green;
    }
}