@import "./helpers/variables";

@import "./components/header";
@import "./components/game-view";
@import "./components/help-view";

body {
    margin: 0;
    font-family: $font-family-general;
    font-weight: $font-weight-general;
}